<!--hx-on::after-request="this.reset()"-->
<form
  hx-post="{% url 'add-contact' %}"
  hx-target="#contact-list"
  hx-swap="beforeend"
  hx-on::after-request="this.remove()"
  hx-trigger="click from:#submit-all"
  class="my-1"
>
  <div class="row">
    <div class="col-4 col-md-3">
      <label for="{{ fomr.name.id_for_label}}">{{ form.name.label}}</label>
      {{ form.name }}
    </div>
    <div class="col-4 col-md-3">
      <label for="{{ fomr.phone.id_for_label}}">{{ form.phone.label}}</label>
      {{ form.phone }}
    </div>
  </div>
</form>
